<div id="navLinks">
  @Html.ActionLink("Home", "Index", "Home")
  @Html.ActionLink("Flavors", "Index", "Flavors")
  @Html.ActionLink("Treats", "Index", "Treats")
  <div class="account">
    @Html.ActionLink("Create or manage an account", "Index", "Account")
  </div>
</div>
