@{
  Layout = "_Layout";
}

<h2>Are you sure you want to delete @Model.TreatName?</h2>
<p>This will remove all available flavors of this treat</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")
