@{
  Layout = "_Layout";
}
@using PierresTreats.Models;

<h1>Treat Details View</h1>
<h4>@Model.TreatName</h4>
<h5>Flavors:</h5>
@if(Model.Joins.Count != 0)
{
  <ul>
    @foreach (FlavorTreat item in Model.Joins)
    {
      <li>@Html.ActionLink($"{@item.Flavor.FlavorName}", "Details", "Flavors", new {id = item.Flavor.FlavorId})</li>
    }
  </ul>
}
@Html.ActionLink("Delete This Treat", "Delete", new {id = Model.TreatId})
<br>
@Html.ActionLink("Manage This Treats available Flavors", "ManageFlavors", new {id = Model.TreatId})
