@{
  Layout = "_Layout";
}
@using PierresTreats.Models;

<h1>Flavor Details View</h1>
<h4>@Model.FlavorName</h4>
<h5>Treats:</h5>
@if(Model.Joins.Count != 0)
{
  <form method="post" action="/FlavorTreats/Delete">
    <table>
      @foreach (FlavorTreat item in Model.Joins)
      {
        <tr>
          <td>*</td>
          <td>@Html.ActionLink($"{@item.Treat.TreatName}", "Details", "Treats", new {id = item.Treat.TreatId})</td>
          <td><input type="checkbox" name="deleteWhich" value="@item.FlavorTreatId"></td>
        </tr>
      }
    </table>
    <input type="submit" value="Remove the selected Treats from this flavor profile">
  </form>
}
